#
# sudo apt install libsecret-1-0 libsecret-1-dev libglib2.0-dev
# sudo make --directory=/usr/share/doc/git/contrib/credential/libsecret
#
# Un/Set password cache commands
#    git config --global --unset credential.helper
#    git config --global credential.helper cache
# Store pass forever
#    git config --global credential.helper store
[user]
	name = Sohaib Mohamed
	email = sohaib.amhmd@gmail.com
[core]
	editor = vim
	trustctime = false
[pretty]
        fixes = Fixes: %h (\"%s\")
[alias]
	g = log --oneline --decorate --graph --all
	ack = -c color.grep.linenumber=\"bold yellow\"\n \t-c color.grep.filename=\"bold green\"\n\t-c color.grep.match=\"reverse yellow\"\n\tgrep --break --heading --line-number
	find = log --pretty=\"format:%Cgreen%H %Cblue%s\" --name-status --grep
	one = log --pretty=oneline
	f = log -1 --pretty=fixes
[pull]
	rebase = true
[merge]
	tool = kdiff3
	conflictstyle = diff3
[mergetool]
	prompt = false
[sendemail]
   smtpuser = sohaib.amhmd@gmail.com
   smtpserver = smtp.gmail.com
   smtpencryption = tls
   smtpserverport = 587
   suppresscc = self
   chainreplyto = false
   confirm = always
   annotate = true
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
